<!DOCTYPE HTML>
<html>
	<head>
		<title>Infrequent Influxes of Inspiration :: {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css"> 
		<link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen"/>
		<link rel="alternate" title="I3RSS" href="/feed.xml" type="application/atom+xml"> 
	</head>
	<body>
		<div id="main">
			<div id="heading">
				<a href="/"><img src="/styles/heading.png" alt="Infrequent Influxes of Inspiration"  /></a>
			</div>
			<div id="content">
				{{ content }}
			</div><!--
			--><aside>
				<h1>most recent</h1>
				<dl>
					{% for post in site.posts | limit:10 %}
					<dt><a href="{{ post.url }}">{{ post.title }}</a></dt>
					<dd><time>{{ post.date | date:"%d.%m.%Y" }}</time></dd>
					{% endfor %}
				</dl>
				
				{% if site.posts.size > 10 %}
				<em>There are more posts - index is coming...</em>
				{% endif %}
				
				<h1>who is this guy?</h1>
				<p class="about">
					Hi, my name is Henrik Paul. I'm a professional software developer from the little city of <a href="http://maps.google.com/maps?q=Raisio, Finland&amp;z=14" target="_blank">Raisio, Finland</a>. I currently work for <a href="http://www.itmill.com" target="_blank">IT Mill</a> and mostly with <a href="http://vaadin.com/" target="_blank">Vaadin</a>.
				</p>
				<p class="about">
					You can find me on <a href="http://twitter.com/henrikpaul/" target="_blank">Twitter</a>, <a href="http://stackoverflow.com/users/2238/henrik-paul" target="_blank">Stack Overflow</a> and IRC ("Wolfie" on IRCNet &amp; Freenode).
				</p>
				</div>
			</aside>
		</div>
		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-11822179-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
	</body>
</html>
