<!DOCTYPE HTML>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
		<title>{{ page.title }}; Infrequent Influxes of Inspiration</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css" media="screen"/> 
		<link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Reenie+Beanie"/>
		<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
		<link rel="alternate" title="I3RSS" href="/feed.xml" type="application/atom+xml"> 
	</head>
	<body>
		<div id="main">
			<div id="heading">
				<a href="/"><img src="/styles/heading.png" alt="Infrequent Influxes of Inspiration"  /></a>
			</div>
			<div id="content">
				{{ content }}
			</div><!--
			--><aside>
				<nav>
					<h1>most recent</h1>
					{% for post in site.posts | limit:10 %}
						<a href="{{ post.url }}"><div class="menulink">
							<div class="title">{{ post.title }}</div>
							<time>{{ post.date | date:"%d.%m.%Y" }}</time>
						</div></a>
					{% endfor %}
					
					<a href="/sitemap.html#older" id="sitemaplink">&hellip;to the archives!</a>
				</nav>
				
				<h1 class="secondary">who is this guy?</h1>
				<p class="secondary">
					Hi, my name is Henrik Paul. I'm a professional software developer from the little city of <a href="http://maps.google.com/maps?q=Raisio, Finland&amp;z=14" target="_blank">Raisio, Finland</a>. I currently work for <a href="http://www.vaadin.com" target="_blank">Vaadin</a> and do everything from coding to UI design to community marketing there.
				</p>
				<p class="secondary">
					<span id="e"></span> You can also find me on <a href="http://twitter.com/henrikpaul/" target="_blank">Twitter</a>, <a href="http://stackoverflow.com/users/2238/henrik-paul" target="_blank">Stack Overflow</a> and IRC ("Wolfie" on IRCNet &amp; Freenode).
					
					<script type="text/javascript">
					var a = 'henrik'+'.paul'+'@gm'+'ail.com';
					document.getElementById('e').innerHTML = 'Feel free to e'+ 'mail me at <a href="ma'+'ilto:'+a+'">'+a+'</a>.';
					</script>
				</p>
				
				<h1 class="secondary">license</h1>
				<p class="secondary">
					All content of this blog is licensed by the Creative Commons <a href="http://creativecommons.org/licenses/by-nc/3.0/" target="_blank">Attribution-NonCommercial 3.0</a> license.
				</p>
				<p class="secondary">
					In short, as long as you mention my name (Henrik Paul), link back to the original article, and don't make money off of it, you're free to do whatever you want with what I write here.
				</p>
				
			</aside>
		</div>

		<!-- Google Analytics -->		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-11822179-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
	</body>
</html>
